#seconds-left{
    font-size:100px;
    text-align:center;
    color:#00FF00;
    font-family: 'Press Start 2P', cursive;    
}

.jumbotron{ background-color: #000; }


#question,
#answer{
    font-size:35px;
    font-weight:bold;
    margin-bottom:20px;
}

button.answer-button{
    float:left;
    margin-right:20px;
    font-size:25px;
}

#restart-button{
    background-color: #333;
    border-color: #222;
}

#restart-button:hover{
    background-color: #000;
    border-color: #000;
}